---
import Carrousel from '../components/Carrousel.astro';
import Navbar from '../components/Navbar.astro';
import Div1 from '../components/Div1.astro';
import About from '../components/About.astro';
import Cards1 from '../components/Cards1.astro';
import Valores from '../components/Valores.astro';
import Cards2 from '../components/Cards2.astro';
import Contactenos from '../components/Contactenos.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/public/assets/logos/logo_transparent.png" type="image/png">
	<title>ATNIRDES</title>

</head>
<body>
	<Navbar />
	<Carrousel />
	<Div1 />
	<About />
	<Cards1 />
	<Valores />
	<Cards2 />
	<Contactenos />
	<Footer />
	  
</body>

</html>